html, body, #wrapper-content, #form1 {
 height: 100%;
}


body {
	min-width: 520px !important;
	background-attachment: scroll;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: white !important;
	margin: 0;
}




#wrapper-content {
	
	position:relative;
	float:left;
	width: 100%;
	background-image: url(../Images/background.jpg);
	padding-top: 110px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: white !important;
}


#content {
    margin: 0 auto;
    position: relative;
    width: 520px;

}