<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Education/App_Themes/Autumn" name="Autumn" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Education/App_Themes/Spring" name="Spring" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/FacebookTemplate/App_Themes/Facebook" name="Facebook" />
	</frontendThemes>
</appearanceConfig>