<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0" viewName="ProductsBackendMaster">
	<decisionScreens>
		<add name="NoProductsExistScreen">
			<actions>
				<add commandName="insert_command_sf_ec_prdct_generalproduct" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="General product" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_generalproduct" />
				<add commandName="insert_command_sf_ec_prdct_book" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Book" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_book" />
				<add commandName="insert_command_sf_ec_prdct_song" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Song" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_song" />
				<add commandName="insert_command_sf_ec_prdct_software" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Software" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_software" />
				<add commandName="insert_command_sf_ec_prdct_bag" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Bag" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_bag" />
				<add commandName="insert_command_sf_ec_prdct_clothing" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Clothing" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_clothing" />
				<add commandName="insert_command_sf_ec_prdct_gift" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Gift" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_gift" />
				<add commandName="insert_command_sf_ec_prdct_watch" commandButtonType="Create" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Watch" wrapperTagKey="Unknown" isSeparator="False" name="Createsf_ec_prdct_watch" />
			</actions>
		</add>
	</decisionScreens>
	<dialogs>
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_book" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_book" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_song" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_song&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_song" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_song" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_song&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_song" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_software" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_software" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_bag" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_bag&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_bag" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_bag" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_bag&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_bag" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_bag" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_clothing" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_clothing&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_clothing" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_clothing" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_clothing" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_clothing&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_clothing" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_clothing" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_gift" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_gift&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_gift" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_gift" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_gift" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_gift&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_gift" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_gift" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_watch" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_watch&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_watch" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_watch" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_watch" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_watch&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_watch" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_watch" />
	</dialogs>
	<toolbar>
		<sections>
			<section name="toolbar">
				<items>
					<item name="MenuToolboxItem">
						<menuItems>
							<item commandName="insert_command_sf_ec_prdct_generalproduct" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="General product" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_generalproduct" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_book" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Book" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_book" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_song" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Song" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_song" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_software" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Software" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_software" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_bag" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Bag" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_bag" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_clothing" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Clothing" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_clothing" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_gift" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Gift" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_gift" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_watch" commandButtonType="Standard" isFilter="False" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Watch" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="MenuCreatesf_ec_prdct_watch" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
						</menuItems>
					</item>
				</items>
			</section>
		</sections>
	</toolbar>
</view>