<?xml version="1.0" encoding="utf-8"?>
<eventsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<contentViewControls>
		<contentViewControl definitionName="EventsFrontend">
			<views>
				<view showSections="True" masterPageId="00000000-0000-0000-0000-000000000000" dataItemId="00000000-0000-0000-0000-000000000000" enableSocialSharing="False" displayMode="Read" resourceClassId="EventsResources" templateKey="0573b5e6-78d3-498b-a50f-82abd7f5c363" isMasterView="False" viewType="Telerik.Sitefinity.Modules.Events.Web.UI.Public.DetailsView, Telerik.Sitefinity.ContentModules" viewName="EducationEventItemDetailView" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDetailElement, Telerik.Sitefinity">
					<commentsSettingsDefinition postRights="None" />
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
</eventsConfig>