<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<contentViewControls>
		<contentViewControl definitionName="NewsFrontend">
			<views>
				<view allowPaging="False" allowUrlQueries="True" disableSorting="False" filterExpression="Visible = true AND Status = Live" itemsPerPage="6" canUsersSetItemsPerPage="False" sortExpression="PublicationDate DESC" detailsPageId="45484c49-2b7d-4fd7-91ed-eab4737f5c54" templateEvaluationMode="None" itemsParentId="00000000-0000-0000-0000-000000000000" renderLinksInMasterView="True" enableSocialSharing="False" displayMode="Read" resourceClassId="NewsResources" templateKey="6ea1dd5a-626e-4441-9d71-bdd8184deaea" isMasterView="False" viewType="Telerik.Sitefinity.Modules.News.Web.UI.MasterListView, Telerik.Sitefinity.ContentModules" viewName="EducationNewsSummaries" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewMasterElement, Telerik.Sitefinity">
					<commentsSettingsDefinition postRights="None" />
				</view>
				<view showSections="True" masterPageId="00000000-0000-0000-0000-000000000000" dataItemId="00000000-0000-0000-0000-000000000000" enableSocialSharing="True" displayMode="Read" resourceClassId="NewsResources" templateKey="0013f75b-f998-4597-b2e1-370d03db8f43" isMasterView="False" viewType="Telerik.Sitefinity.Modules.News.Web.UI.DetailsSimpleView, Telerik.Sitefinity.ContentModules" viewName="EducationNewsItemDetailView" type:this="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDetailElement, Telerik.Sitefinity">
					<commentsSettingsDefinition postRights="None" />
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
</newsConfig>