<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="" multilingual="True">
  <cultures>
    <add culture="de" uiCulture="de" key="german-de" />
  </cultures>
</resourcesConfig>