
@import url('../../Autumn/Global/layout.css');
@import url('../../Autumn/Global/forums.css');


fieldset.sfsearchBox .sfsearchSubmit, .sfFormSubmit input {
	font-size: 11px;
	border: 0px;
	background-color: #5c913c;
}

.header-text,
.sfcommentsSubmitBtn {
	background-color: #5c913c !important;
}

.header-text p {
	
	
	color: #daf2cb;
}

a.sfpostCommentsCount {
	font-weight: bold;
	color: #5c913c; 
}

a.sfdownloadLink {
	color: #5c913c; 
}

#content .sfContentBlock a, #content h3 a, h2 a {
	color: #5c913c;
	text-decoration: none;
}

ul.sflanguagesVerticalList li.sflanguageItem.sflang_en a.sflanguageLnk {
	background-image: url(../Images/en.gif);
	background-repeat: no-repeat;
	padding-right: 50px;
	background-position: 0 8px;
}

.RadTabStrip_left .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
	border-left: 3px solid #5c913c;
}

.RadTabStrip_left .rtsLevel .rtsUL .rtsLI .rtsLink.rtsSelected .rtsOut .rtsIn .rtsTxt {
	
	background-color: #5c913c; 
}

.RadTabStrip_left .rtsLevel .rtsUL .rtsLI .rtsLink.rtsSelected {
	color: white;
	text-shadow: -1px -1px 0px #36601c;
}


.sfsearchResultsWrp a {
	color: #5c913c !important;
}

.sf_PagerCurrent {
	background-color: #5c913c !important;
}

.RadTabStrip_left .rtsLevel .rtsUL .rtsLI a.rtsLink.rtsSelected:hover { 
	border-left: 0px !important;
}