
	.sfnewsContent .image-description{
		background-color: #333;
		color: #fff;
	}
	
	.sfnewsContent img:hover {
		
	}
	
	#headers-rotator {
		width: 100%;
		height: 200px;
		
		-webkit-transition-property: height;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
	}

	#headers-rotator img{
		max-height:250px;
		
		-webkit-transition-property: max-height;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
	}
	.header-text {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		
		right: 0px;
		margin-left:0px;
		left: inherit;
		
		width:380px;
		-webkit-transition: bottom, 0.5s, linear;
		
		bottom:30px; 
		-webkit-transition: bottom, 0.5s, linear;
	}


	#headerinfo,
	#content  {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#content {
		width: 96%;
		padding: 2%;
	}
	
	.RadTabStrip_education  {
		height: 40px;
		padding-top: 5px;
	}
	.RadTabStrip_education .rtsSelected{height: 41px}

	
	#content .sfnewsList .sfnewsListItem h3{
		font-size: 13px;
	}

	.sfsummaryContent {
		width: 100%;
	}
	
	#content .educationAnnouncements h2{
		font-style: normal;
		font-family: GillSans, Georgia;
		text-transform: uppercase
	}
	
	#content .educationAnnouncements .sflistList  .sflistListItem h3.sflistItemTitle {
		font-size: 18px; 
		font-weight: normal;
		font-family: Arial;
	}
	
	#content .educationAnnouncements .sflistItemContent{
		font-size: 12px;
		line-height: 18px;
	}

	#content .sfContentBlock h1 { 
		font-size: 25px;
		padding: 0px 0px 10px 0px;
		font-family: GillSans, Georgia;
		border-bottom: 1px dashed #ccc;
		font-style:normal;
		letter-spacing: -1px;
	}
	
	#headerinfo .sfContentBlock h1 {
		font-family: GillSans, Georgia;
		text-transform: uppercase
	}
	
	.header-text h4 {
		font-family: GillSans, Georgia;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary	.sfnewsListItem {
		width: 48%;
		margin-right: 2%;
		height: 200px;
		-webkit-transition-property: all, 1s, linear;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary li.sfnewsListItem h3 a,
	.sfeventDetails h3.sfeventTitle a{
		font-family: GillSans, Georgia;
		font-size: 18px;
		letter-spacing: -1px;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary li.sfnewsListItem .sfnewsSummary {
		line-height: 15px;
	}
	
	h1.sfnewsTitle {
		font-size: 30px;
		border-bottom: 1px dashed #ccc;
	}
