
	#headers-rotator {
		width: 100%;
		height: 400px;
		
		-webkit-transition-property: height;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
	}

	#headers-rotator img{
		max-height:400px;
		
		-webkit-transition-property: max-height;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
	}
	.header-text {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		
		right: 0px;
		margin-left:0px;
		left: inherit;
		font-size: 16px;
		
		width:380px;
		-webkit-transition: bottom, 0.5s, linear;
		
		bottom:30px; 
		-webkit-transition: bottom, 0.5s, linear;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary	.sfnewsListItem {
		width: 100%;
		margin-right: 0;
		height: auto;
	}
	
	.educationnewsSummary {
		font-size: 17px;
		line-height:26px;
	}
	
	.header-text h4 {
		font-size: 24px;
	}


	#headerinfo,
	#content  {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#content {
		width: 96%;
		padding: 2%;
	}
	
	.RadTabStrip_education  {
		height: 49px;
		
		padding-top: 5px;
	}
	
	.RadTabStrip_education .rtsLink{
		font-size: 18px;
		background-color: green !important;
	}
	
	.RadTabStrip_education .rtsSelected{
		height: 50px;
	}

	
	#content .sfnewsList .sfnewsListItem h3{
		font-size: 13px;
	}

	.sfsummaryContent {
		width: 100%;
	}
	
	.sfimageWrp img{
		max-width: 100%;
		border-radius: 5px;
	}
	
	#content .sfContentBlock h1 { 
		font-size: 30px;
		padding: 0px 0px 10px 0px;
		font-family: GillSans, Georgia;
		border-bottom: 1px dashed #ccc;
		font-style:normal;
		letter-spacing: -1px;
	}
	
	#headerinfo .sfContentBlock h1 {
		font-family: GillSans, Georgia;
		text-transform: uppercase
	}
	
	.header-text h4 {
		font-family: GillSans, Georgia;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary li.sfnewsListItem h3 a{
		font-family: GillSans, Georgia;
		font-size: 22px;
		letter-spacing: -1px;
	}
	
	ul.sfnewsList.sfnewsListTitleDateSummary li.sfnewsListItem .sfnewsSummary {
		line-height: 22px;
		font-size: 15px;
	}
